.tableStyle table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableStyle td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableStyle tr:nth-child(even) {
  background-color: #dddddd;
}

 .formHeader {
  text-align: center;
  margin-bottom: 1px;
}

.addChildForm {
  width: 95%;
}

.childViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  border: 1px black solid;
  margin: 0 auto;
}

.childViewItem {
  width: 100px;
  height: 200px;
  border: 1px black solid;
  background: #369;
}

.approvedList {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.addField {
  background-color: #ADC8D9;
  width: 50%;
  height: 150px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 2px;
}