.tableStyle table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableStyle td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableStyle tr:nth-child(even) {
  background-color: #dddddd;
}

 .formHeader {
  text-align: center;
  margin-bottom: 1px;
}

.table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.addChildForm {
  width: 95%;
}